<% if controller_name == "search" %>
  <% if current_person.present? %>
    <% block = current_person.blocks.select { |b| b.is_a? CommunitiesListBlock }.first %>
    <div class="participa-communities-block">
      <%= render file: "plugins/denouncements/views/blocks/communities_list.html.erb", locals: { block: block } %>
    </div>
  <% end %>
<% end %>
