<%= link_to(image_tag("/designs/themes/participa-mais/images/noosfero-logo.png"), top_url) %>
<form action="/search/articles" id="top-search" class="search_form clean" method="get">
  <input name="query" placeholder="<%=_('Search on Noosfero')%>" />
</form>
