@import url(../base/style.css);

#noosfero {
  padding-bottom: 60px;
}

#content {
  text-align: center;
}

#denouncement-content {
  text-align: left;
}

.blocks {
  text-align: left;
}

.control-panel {
  text-align: center;
}

.main-content a.icon-back {
  float: right;
}

.text-editor-sidebar {
  display: none;
}

#title-bar {
  background-color: gray;
}
#title-bar h1 {
  color: white;
}
#chat-window {
  background: white;
}
#buddy-list #environment-logo {
  background-color: #BBB;
}

/* Members list*/
.profile-members-tabs-container .ui-corner-all{
  padding-bottom: 10px;
}

#content #members-tab ul.profile-list-members,
#content #admins-tab ul.profile-list-admins{
  margin: 10px auto;
}

.common-profile-list-block .profile-image{
  height: auto;
}

.common-profile-list-block .profile-image img{
  max-height: 80px;
  max-width: 80px;
}

.box-1 .common-profile-list-block span{
  width: 84px;
}

.box-1 .common-profile-list-block span.fn {
  margin-top: 5px;
  height: 25px;
  width: 80px;
}

.action-profile-send_mail .send-mail-recipients {
  color: #888888;
  padding: 10px;
  width: 475px;
  line-height: 15px;
}

#uploaded_files {
  display: none;
}

form#file_upload_form .formfieldline label {
  display: inline-block;
  margin-right: 5px;
}

form#file_upload_form .formfieldline .formfield {
  display: inline-block;
}

form#file_upload_form .formfieldline .formfield select {
  width: 60%;
}

form#file_upload_form .button-bar a.icon-add {
  margin-right: 6px;
}

form.text-article {
  text-align: left;
}

.button {
  letter-spacing: 0.4px;
}

table.uploaded_files_table tr {
  border-top: 1px solid #ddd;
  height: 6em;
}

table.uploaded_files_table tr td:first-child {
  width: 70%;
}

table.uploaded_files_table tr:hover td {
  background-color: inherit;
}

table.uploaded_files_table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.hidden-submit {
  display: none !important;
}

i {
  font-size: 1.1em !important;
  margin-right: 4px;
}

body textarea {
  border: 1px solid rgb(169, 169, 169);
  font-size: 13px;
}

body select {
  display: block;
  padding: 6px 70px 6px 12px;
  max-width: 100%;
  height: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background: url(/images/selectbox-down-arrow.png) right center no-repeat;
  background-color: #fff;
  color: #444444;
  font-size: 1.1em;
  line-height: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media only screen and (max-width: 960px) {
  body select {
    padding: 6px 40px 6px 12px;
  }
}
@media only screen and (max-width: 540px) {
  body select {
    padding: 6px 25px 6px 12px;
  }
}

@media only screen and (max-width: 540px) {
  .action-home-index #noosfero {
    background-color: #e54141;
  }
}

body select option {
  padding: 0 4px;
}

select::-ms-expand {
  display: none;
}

select:disabled::-ms-expand {
  background: #f60;
}

a.remove-file {
  font-size: 1.4em;
  cursor: pointer;
}

#navigation {
  background-color: #e54141;
  border: none !important;
}

#navigation #site-title {
  padding-left: 0;
}

#navigation a.menu-toggle {
  margin-top: 0px;
}

#navigation > ul > li.user-pending-tasks #pending-tasks {
  top: -14px;
}

@media only screen and (max-width: 540px) {
  #navigation { border: none; }

  #navigation > ul > li:not(:last-child) {
    margin-right: 6px !important;
  }

  #navigation > ul > li a span {
    display: none;
  }

  #navigation > ul > li.user-pending-tasks #pending-tasks {
    width: 12px !important;
    height: 12px !important;
    line-height: 12px !important;
    top: -12px;
  }
}

#site-title a {
  display: flex;
  align-items: center;
}

#site-title a img { width: 300px !important; }

@media only screen and (max-width: 540px) {
  #site-title a img { width: 200px !important; }
}

#top-search {
  display: none;
}

@media only screen and (max-width: 540px) {
  .box {
    padding: 0 !important;
  }
}

#pending-tasks {
  color: #e54141 !important;
  background-color: #fff !important;
  border-color: #fff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 14px !important;
}

.navbar-search-icon {
  font-size: 18px !important;
}

@media only screen and (max-width: 540px) {
  #navigation > ul > li a {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 540px) {
  #content { padding: 0px; }
}

.main-content {
    border: none;
    box-shadow: none;
}

@media only screen and (max-width: 540px) {
  .main-content { padding: 0px; }
}

#denouncement-content h1 {
  font-variant: initial !important;
  border: none !important;
  background-color: #fbba00 !important;
  color: #fff !important;
  padding: 12px 16px;
  text-transform: uppercase;
}

@media only screen and (max-width: 540px) {
  #denouncement-content h1 { margin-top: 0px; }
}

#denouncement-content h2 {
  font-size: 20px !important;
  text-transform: uppercase;
}

.theme-participa-mais a.button {
  color: #fff !important;
  background-color: #4cc1ae !important;
  border-color: #4cc1ae !important;
  text-transform: uppercase;
  font-weight: 500;
}

.theme-participa-mais a.button:hover {
  color: #fff !important;
  background-color: #32a38f !important;
  border-color: #4cc1ae !important;
}

#theme-footer {
  width: 100%;
  margin-bottom: 0;
}

body.action-home-index #footer footer.default-footer {
  display: none;
}

body:not(.action-home-index) #footer footer.home-footer {
  display: none;
}

#theme-footer footer.default-footer {
  display: flex;
  width: 100%;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  max-height: 60px;
  z-index: 9999;
}

#theme-footer footer a {
  color: #fff;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 32px;
  padding: 8px 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#theme-footer footer.home-footer {
  display: flex;
  background-color: #e54141;
  text-align: center;
  padding: 8px;
}

#theme-footer footer.home-footer a {
    text-decoration: none !important;
    font-size: 16px;
    padding: 0px 8px;
}

#theme-footer footer.home-footer a:hover {
  color: #fff;
}

#theme-footer footer.home-footer a:not(:last-child) {
  border-right: 1px solid #fff;
}

@media only screen and (max-width: 540px) {
  #theme-footer footer.home-footer a {
    font-size: 10px;
  }
}

@media only screen and (max-width: 540px) {
  #theme-footer footer a { font-size: 24px; }
}

#theme-footer footer a.participe {
  background-color: #51c599;
  text-decoration: none;
}

.profile-type-is-person #theme-footer footer a.participe {
  display: none;
}

#theme-footer footer a.participe:hover {
  color: #fff;
}

#theme-footer footer a.acontece {
  background-color: #b7ce30;
  text-decoration: none;
}

#theme-footer footer a.acontece:hover {
  color: #fff;
}

#theme-footer footer a.proteja {
  background-color: #fbba00;
  text-decoration: none;
}

#theme-footer footer a.proteja:hover {
  color: #fff;
}

@media only screen and (max-width: 540px) {
  body.action-home-index {
    background-color: #e54141;
  }
}

.link-list-block.home-block .link-list-items li {
  display: block !important;
  border: none !important;
  height: 60px;
  padding: 0 !important;
  margin-bottom: 12px !important;
}

.link-list-block.home-block .link-list-items li a {
  color: #fff !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 22px !important;
  letter-spacing: 4px;
  height: 100%;
  margin: 0 !important;
  text-transform: uppercase;
  font-weight: 700;
}

.link-list-block.home-block .link-list-items li:nth-child(1) a { background-color: #fbba00 !important; }
.link-list-block.home-block .link-list-items li:nth-child(2) a { background-color: #4cc1ae !important; }
.link-list-block.home-block .link-list-items li:nth-child(3) a { background-color: #b6ce30 !important; }

.profile-name-is-acontece .boxes {
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 540px) {
  .profile-name-is-acontece .boxes {
    width: 100%;
  }
}

.profile-name-is-acontece .blog #article-toolbar {
  display: none;
}

.profile-name-is-acontece .blog-post .publishing-info {
  margin-bottom: 5px !important;
}

.profile-name-is-acontece .blog-post p {
  margin-top: 5px;
}

@media only screen and (max-width: 540px) {
  .profile-name-is-acontece .blog-post {
    padding: 0px 12px;
  }

  .profile-name-is-acontece .blog-post .publishing-info .author {
    display: none;
  }

  .profile-name-is-acontece #article-header h1.title {
    padding-left: 5px;
  }

  .profile-name-is-acontece #article-header .publishing-info {
    padding: 0px 5px;
  }

  .profile-name-is-acontece .article-body p {
    padding: 0 10px;
    margin-top: 10px !important;
  }

  .profile-name-is-acontece.profile-homepage .article-body p {
    display: none;
  }

  .profile-name-is-acontece.profile-homepage .article-body .read-more {
    display: none;
  }

  .profile-name-is-acontece.profile-homepage .article-body br {
    display: none;
  }

  #content .comments h3 {
    padding-left: 5px;
  }
}

.profile-name-is-acontece .blog-post .post-pic {
  width: 140px;
  height: 140px;
  float: left;
  margin-right: 20px;
}

.profile-name-is-acontece .blog-post h1.title {
  font-size: 2em !important;
}

@media only screen and (max-width: 540px) {
  .profile-name-is-acontece .blog-post .post-pic {
    width: 60px;
    height: 60px;
    margin-right: 8px;
  }

  .profile-name-is-acontece .blog-post h1.title {
    font-size: 1.5em !important;
  }
}

.profile-name-is-acontece .blog-post .publishing-info .followers-count {
  display: none;
}

.action-content_viewer-view_page .main-content {
  padding-top: 0px;
}

.action-content_viewer-view_page #content .happens-block {
  margin-bottom: 0px;
}

.controller-cms .main-content h1 {
  display: none;
}

.controller-cms .main-content .cms-header #article-full-path {
  display: none;
}

.controller-cms .main-content .button-bar {
  text-align: right;
  padding-right: 8px;
}

.controller-cms .main-content .button-bar a {
  display: inline-block;
}

@media only screen and (max-width: 540px) {
  .controller-cms .main-content .cms-articles thead {
    display: none;
  }

  .controller-cms .main-content table.cms-articles td {
  }

  .controller-cms #content .profile-description-block {
    margin-bottom: 0px;
  }
}

.profile-type-is-person .action-profile-index .main-content {
  display: none;
}

.article-body.file-image {
  text-align: center;
}

body.controller-profile.action-profile-friends .common-profile-list-block h1 {
  display: none;
}

body.controller-profile.action-profile-friends .common-profile-list-block ul.profile-list {
  display: block;
  overflow: auto;
  text-align: center;
}

body.controller-profile.action-profile-friends .common-profile-list-block ul.profile-list li {
  float: none;
  vertical-align: middle;
  min-width: 100px;
}

body.controller-profile.action-profile-friends .common-profile-list-block ul.profile-list li span {
  display: block;
  width: auto;
}

body.controller-profile.action-profile-friends .common-profile-list-block ul.profile-list li .menu-submenu-trigger {
  display: none !important;
}

body.controller-profile.action-profile-friends .common-profile-list-block ul.profile-list li span.fn {
  height: auto;
  margin: 0px;
}

body.controller-profile.action-profile-friends .common-profile-list-block .button-bar {
  text-align: right;
}

body.controller-profile.action-profile-friends .common-profile-list-block .button-bar .icon-back {
  float: none;
}

body.controller-profile.action-profile-friends .common-profile-list-block .button-bar .icon-edit,
body.controller-profile.action-profile-friends .common-profile-list-block .button-bar .icon-person {
  display: none;
}

body.controller-search.action-search-communities #search-header,
body.controller-search.action-search-communities #search-subheader,
body.controller-search.action-search-communities .search-field,
body.controller-search.action-search-communities #total-results {
  display: none;
}

.participa-communities-block h3.block-title {
  color: #fff;
  background-color: #4cc1ae;
  border-bottom: none !important;
  font-size: 20px !important;
  text-transform: uppercase !important;
  padding: 0 0 0 12px !important;
}

.participa-communities-block h3.block-title span {
  display: flex;
  align-items: center;
}

.participa-communities-block h3.block-title span .more,
.participa-communities-block h3.block-title span .back {
  flex-grow: 1;
  text-align: right;
}

.participa-communities-block h3.block-title span .more a,
.participa-communities-block h3.block-title span .back a {
  display: inline-block;
  color: #fff !important;
  background-color: #32a38f;
  padding: 8px 25px !important;
}

.participa-communities-block h3.block-title span .more a i,
.participa-communities-block h3.block-title span .back a i {
  margin: 0;
}

.participa-communities-block h3.block-title span .back { display: none; }

.participa-communities-block .highlighted-communities {
    display: flex;
    margin-top: -10px;
}

.participa-communities-block .highlighted-communities .community {
      justify-content: center;
      display: inline-flex;
      flex-direction: column;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      flex-grow: 1;
      padding: 20px 8px;
      text-align: center;
      text-decoration: none;
}

.participa-communities-block .highlighted-communities .community:nth-child(1) { background-color: #c85549; }
.participa-communities-block .highlighted-communities .community:nth-child(2) { background-color: #f4ba02; }
.participa-communities-block .highlighted-communities .community:nth-child(3) { background-color: #b8cf30; }
.participa-communities-block .highlighted-communities .community:nth-child(4) { background-color: #75d7c6; }

@media only screen and (max-width: 540px) {
  .participa-communities-block .highlighted-communities .community { font-size: 10px; }
}

.participa-communities-block ul.communities-list {
  list-style: none;
  text-align: left;
}

@media only screen and (max-width: 540px) {
  .participa-communities-block ul.communities-list { padding-left: 20px; }
}

.participa-communities-block ul.communities-list li {
  display: flex;
}

.participa-communities-block ul.communities-list li:not(:last-child) {
  margin-bottom: 20px;
}

.participa-communities-block ul.communities-list li .community-image {
  margin-right: 12px;
}

.participa-communities-block ul.communities-list li .community-image a {
  display: inline-block;
}

.participa-communities-block ul.communities-list li .community-image a img {
  width: 50px;
}

.participa-communities-block ul.communities-list li .community-info {
  flex-grow: 1;
}

.participa-communities-block ul.communities-list li .community-info .community-title {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.participa-communities-block ul.communities-list li .community-info .community-title a {
  color: #4dc6b5;
  text-decoration: none;
}

.participa-communities-block ul.communities-list li .community-info .community-title a:visited,
.participa-communities-block ul.communities-list li .community-info .community-title a:hover {
  color: #4dc6b5;
}

.participa-communities-block ul.communities-list li .community-info .num-members,
.participa-communities-block ul.communities-list li .community-info .community-created-at {
  color: #505050;
}

.participa-communities-block ul.communities-list li .community-info .bullet-separator {
  padding: 0 2px;
}

.participa-communities-block .communities-actions {
  display: none;
  text-align: center;
  margin-top: 40px;
}

.participa-communities-block .communities-actions .action {
  display: inline-block;
  width: 130px;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
}

.participa-communities-block .communities-actions .action img.default-file {
  width: 64px;
  margin-bottom: 4px;
}

.participa-communities-block .communities-actions .action .action-title {
  color: #2fad97;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}

body.controller-search.action-search-communities .main-content h1 {
    color: #6ecdbc !important;
    border-color: #6ecdbc !important;
    padding-bottom: 12px;
    text-transform: uppercase;
}

body.controller-search.action-search-communities .participa-communities-block h3.block-title span .more { display: none; }
body.controller-search.action-search-communities .participa-communities-block h3.block-title span .back { display: block; }

.profile-type-is-community .action-profile-index .main-content {
  display: none;
}

.profile-type-is-community .action-profile-members #content .common-profile-list-block ul {
  overflow: initial;
}

.profile-type-is-community .action-profile-members #content .common-profile-list-block .button-bar {
  text-align: right;
}

.profile-type-is-community .action-profile-members #content .common-profile-list-block .button-bar .icon-back {
  display: inline-block;
  float: none;
}

.profile-type-is-community body:not(.action-cms-index):not(.action-profile-index) .communities-list-block .button-bar {
  display: none;
}

.profile-type-is-community .action-profile-members .common-profile-list-block h1,
.profile-type-is-community .action-profile-members .common-profile-list-block h2,
.profile-type-is-community .action-profile-members .common-profile-list-block #profile-members-sort-options,
.profile-type-is-community .action-profile-members .common-profile-list-block .button-bar .icon-person,
.profile-type-is-community .action-profile-members .common-profile-list-block .button-bar .icon-send {
  display: none;
}

.profile-type-is-community .action-events-events .main-content h1 {
  display: none;
}

.profile-type-is-community .action-events-events .main-content #agenda-toolbar a {
  margin-left: 5px !important;
}

.profile-type-is-community .action-content_viewer-view_page #article.blog #article-header {
  display: none;
}

.profile-type-is-community .controller-custom_forms_plugin_myprofile .communities-list-block .button-bar {
  display: none;
}

#content table.cms-articles td img {
  width: 48px !important;
}
#content table.cms-articles td:first-child {
  font-size: 14px;
}

#content table.cms-articles td img:nth-child(2) {
  display: none;
}

.controller-custom_forms_plugin_myprofile .main-content .action-table td.actions {
  text-align: center;
}

.controller-custom_forms_plugin_myprofile .main-content .action-table tr:last-child td {
  padding-top: 10px;
}

@media only screen and (max-width: 768px) {
  .controller-custom_forms_plugin_myprofile .main-content .action-table th:nth-child(4),
  .controller-custom_forms_plugin_myprofile .main-content .action-table td:nth-child(4) {
    display: none;
  }
}

@media only screen and (max-width: 540px) {
  .controller-custom_forms_plugin_myprofile .main-content .action-table th:nth-child(2),
  .controller-custom_forms_plugin_myprofile .main-content .action-table td:nth-child(2) {
    display: none;
  }
}

.controller-custom_forms_plugin_myprofile .main-content .button-bar {
  text-align: right;
}

.controller-custom_forms_plugin_myprofile .main-content .button-bar a {
  float: none;
}

@media only screen and (max-width: 540px) {
  #content .common-profile-list-block ul { width: 100%; }
}

#content .blog-post {
  border: none !important;
}

@media only screen and (max-width: 540px) {
  #article .article-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.cms-articles .article-name {
  text-transform: uppercase;
}

#agenda .agenda-calendar,
#agenda #events-of-the-day {
  width: 100%;
}

#agenda-toolbar {
  display: none;
}

#agenda .agenda-calendar th {
  text-align: center;
}

#agenda .agenda-calendar caption a {
  float: none;
}
